{% load static %}

<!DOCTYPE html>
<html lang="au en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'second_project1/style.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/15e8b5373a.js" crossorigin="anonymous"></script>
    <script src="main.js" defer href="{% static 'second_project1/main.js' %}"></script>
    <title>Lotto number generator</title>
</head>

<body>
    <nav class="navbar">
        <div class="navbar__logo">
            <i class="fab fa-atlassian"></i>
            <b>Lotto Number Generator</b>           
            
        </div>

        <ul class="navbar__menu">
            <li><b>Home</b></li>
            <li><b>Lotto</b></li>
            <li><b>FAQ</b></li>
            
        </ul>

        <ul class="navbar__icons">
            <li><i class="fab fa-twitter"></i></li>
            <li><i class="fab fa-facebook-f"></i></li>

        </ul>

        <b href="" class="navbar__toogleBtn">
            <i class="fas fa-bars"></i>
        </b>

    </nav>
    
</body>
</html>